<div class="prescriptions-container">

  <!-- <i class="fas fa-circle circle-style"></i> -->
  <div class="prescriptions-header">

    <div class="text-show-prescriptions">
      <%= link_to prescriptions_path do%>
      <i class="fas fa-chevron-left chevron-style"></i>
      <%end%>
      <h2 class="h2-style"><%= @prescription.prescription_name %></h2>

    </div>
  </div>
</div>
<div class="prescription">
  <div class="img-card"><%= cl_image_tag @prescription.image, :width=>250, :height=>290 %></div>
  <div class="show-prescription-name">Validité de la prescription :</div>
  <div class="show-prescription-date">Date de la prescription : <%= @prescription.prescription_start_date %></div>
  <div class="show-prescription-date">Fin de la prescription : <%= @prescription.prescription_expiry_date %></div>
  <div class="make-an-order-and-delete">
    <button type="button" class="btn btn-outline-light btn-outline-style-make-an-order" ><%= link_to "Passer commande", new_prescription_order_path(@prescription) %></button>
    <button type="button" class="btn btn-outline-light btn-outline-style-delete" ><%= link_to "Supprimer", prescription_path, method: :delete %></button>
  </div>
</div>
<%= render 'shared/footer' %>
