<div class="order-contaier">
  <div class ="body-orders-steps">
    <% if @prescription.orders.last.order_status == "pending" %>
    <div class="order-header">
      <div class="placeorder d-flex justify-content-start">
        <%= link_to welcome_path do%>
        <%= image_tag ("close.png"), class: "arrow-order" %>
        <%end%>
        <h2 class="text-header-order">Faire une commande</h2>
      </div>
      <div class="order-steps">
        <%= image_tag ("3.png"), class: "steps-order" %>
      </div>
    </div>
    <p class="textconfirmation">Suivi de votre commande</p>
    <%= image_tag ("pharmacist-prep.png") , class: "pharmacistdelivery"%>
    <div class="orderstatusone" >
      <div class="statusone d-flex justify-content-around">
        <div class="spinnerone">
          <div class="spinner-border text-primary spinner" style="width: 1.3rem; height: 1.3rem;" role="status"></div>
        </div>
        <p id ="statusonetext">Votre commande a été acceptée</p>
        <p class= "timeone"><%= Time.now %></p>
      </div>
      <div class="statustwo d-flex justify-content-around">
        <div class="spinnertwo">
          <div class="spinner-border text-primary spinner" style="width: 1.3rem; height: 1.3rem;" role="status"></div>
        </div>
        <p id="statustwotext">Préparation de votre commande</p>
        <p  class="timetwo"><%= Time.now %></p>
      </div>
      <div class="statusthree d-flex justify-content-around">
        <div class="spinnerthree">
          <div class="spinner-border text-primary spinner" style="width: 1.3rem; height: 1.3rem;" role="status"></div>
        </div>
        <p id="statusthreetext">Préparation de votre facture</p>
        <p class="timethree"><%= Time.now %></p>
      </div>
    </div>
  </div>
  <% end %>
  <% if @prescription.orders.last.order_status == "Accepté"  %>
  <div class="textdiv">
    <div>
      <h2 class ="orderstatustwo ">Détails de votre commande</h2>
      <div class="card" >
        <div class="pharmaciedetails">
          <p class="pharmacie"> Votre Pharmacie</p>
          <p class ="namepharmacie"><%= @prescription.orders.last.pharmacie.name %></p>
          <p class ="addresspharmacie"><%= @prescription.orders.last.pharmacie.address %></p>
        </div>
        <div class="mapcss">
          <div
            id="map"
            style="width: 89%;
            height: 157px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
      <div class= "orderpayment">
        <div class="cardsorder p-3 ">
          <div class="d-flex justify-content-between mb-3">
            <p><strong>Montant de l'ordonnance</strong> </p>
            <p>4.95€</p>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <p><strong>Montant pris en charge</strong></p>
            <p>3.95€</p>
          </div>
          <div class="d-flex justify-content-between mb-3 border-bottom">
            <p><strong>Frais de livraison</strong></p>
            <p>1.5€</p>
          </div>
          <div class="d-flex justify-content-between mb-3 ">
            <p><strong>Total à régler</strong></p>
            <p><strong>2.5€</strong></p>
          </div>
        </div>
        <div class="buttonsorder">
          <button type="button" class="submitpopup" data-toggle="modal" data-target="#exampleModal">Payer</button>
          <button type="button" class="cancelpopup">Annuler</button>
        </div>
      </div>

      <div>
       <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id ="popuppayment"role="document">
          <div class="modal-container">
            <div class="pop-up-header">
              <div class="modal-title" id="cameradiv">
              <p>Paiement</p>
                <form>
                 <div class="form-group">
                   <label for="formGroupExampleInput">Numéro de la carte</label>
                   <input type="text" class="form-control" id="formGroupExampleInput" placeholder="4242 4242 4242 4242"><%= image_tag ("visa-logo.jpg"), class: "img-visa"%>
                 </div>
                 <div class="form-group">
                  <label for="formGroupExampleInput2">Date d'expiration</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="01/21">
                 </div>
                 <div class="form-group">
                  <label for="formGroupExampleInput2">Cryptogramme</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="442">
                 </div>
                 <div class="form-group row">
                   <div class="col-sm-10 buttoncenter">
                    <button type="submit" class="submitpayment"><%= link_to "Valider", delivery_path, class: "validationtext" %></button>
                   </div>
                </form>
              </div>
            </div>
          </div>
        <div class="pop-up-footer">
          <button type="button"  data-dismiss="modal" class="button-pop-up"> Close</button>
        </div>
      </div>
    </div>

    <% end %>

    <script type="text/javascript">
    const spinner = document.querySelector(".spinnerone");
    if (spinner) {
    setTimeout(function() {
    spinner.innerHTML = '<%= image_tag ("check.png")%>';
    }
    ,2000);
    }
    const spinnertwo = document.querySelector(".spinnertwo");
    setTimeout(function() {
    spinnertwo.innerHTML = '<%= image_tag ("check.png")%>';
    }
    ,4500);
    const spinnerthree = document.querySelector(".spinnerthree");
    setTimeout(function() {
    spinnerthree.innerHTML = '<%= image_tag ("check.png")%>';
    }
    ,7000);
     setTimeout(function() {
     const links = document.querySelector(".timeone");
    links.style.display = "block";
    }
      ,2030);
     setTimeout(function() {
     const linkstwo = document.querySelector(".timetwo");
    linkstwo.style.display = "block";
    }
      ,4530);
     setTimeout(function() {
     const linksthree = document.querySelector(".timethree");
    linksthree.style.display = "block";
    }
      ,7030);
    </script>
