<h1>My orders</h1>



<% @orders.each do |order| %>

  <% if order.order_status == "pending" %>
   <div class="card" style="width: 18rem;">
    <div class="card-body">
     <h5 class="card-title"><%= order.prescriptions.first.prescription_name if order.prescriptions.present? %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Status - <%= order.order_status %></h6>
      <p class="card-text">Date order : <%= order.order_date %></p>
      <p><%= link_to "show", order_path(order) %></p>
      <p><%= link_to "delete", prescription_order_path(order.prescriptions.first, order.id), method: :delete %></p>
    </div>
  </div>
  <% end %>
   <% if order.order_status == "close" %>
    <div class="card" style="width: 18rem;">
     <div class="card-body">
       <h5 class="card-title">
       <h5 class="card-title"><%= order.prescriptions.first.prescription_name if order.prescriptions.present? %>
       <h6 class="card-subtitle mb-2 text-muted">Status - <%= order.order_status %></h6>
       <p class="card-text">Date order : <%= order.order_date %></p>
       <p class="card-text">Delivery address :<%= order.street_name %>,<%= order.zip_code %>,<%= order.city %> </p>
       <p><%= link_to "show", order_path(order) %></p>
       <p><%= link_to "delete", prescription_order_path(order.prescriptions.first, order.id), method: :delete %></p>
      </div>
    </div>
  <% end %>
<% end %>
