<div class="orders-container">
  <div class="orders-header">
    <div class="text-my-orders">
      <%= link_to welcome_path do%>
      <i class="fas fa-chevron-left chevron-style"></i>
      <%end%>
      <h2 class="h2-style">Mes commandes</h2>
    </div>
  </div>

<div class="orders-body">
<% @orders.each do |order| %>
<div class="card-category">
  <% if order.order_status == "En attente" %>
  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body"> -->
      <h5 class="card-title"><%= order.prescriptions.first.prescription_name if order.prescriptions.present? %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Status - <%= order.order_status %></h6>
      <p class="card-text">Date de commande : <%= order.order_date %></p>
      <div class="show-delete">
        <button type="button" class="btn btn-outline-light btn-outline-style-show" ><%= link_to "Accéder", order_path(order) %></button>
        <button type="button" class="btn btn-outline-light btn-outline-style-delete" ><%= link_to "Supprimer", prescription_order_path(order.prescriptions.first, order.id), method: :delete %>
        </button>
      </div>
      <!-- <p><%= link_to "show", order_path(order) %></p>
      <p><%= link_to "delete", prescription_order_path(order.prescriptions.first, order.id), method: :delete %></p> -->
    <!-- </div>
  </div> -->
  <% end %>
  <% if order.order_status == "Livrée" %>
  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body"> -->
      <h5 class="card-title"></h5>
      <h5 class="card-title"><%= order.prescriptions.first.prescription_name if order.prescriptions.present? %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Status - <%= order.order_status %></h6>
      <p class="card-text">Date de commande : <%= order.order_date %></p>
      <p class="card-text">Adresse de livraison :<%= order.street_name %>,<%= order.zip_code %>,<%= order.city %> </p>
      <div class="show-delete">
        <button type="button" class="btn btn-outline-light btn-outline-style-show" ><%= link_to "Accéder", order_path(order) %></button>
        <button type="button" class="btn btn-outline-light btn-outline-style-delete" ><%= link_to "Supprimer", prescription_order_path(order.prescriptions.first, order.id), method: :delete %>
        </button>
      </div>
      <!-- <p><%= link_to "show", order_path(order) %></p>
      <p><%= link_to "delete", prescription_order_path(order.prescriptions.first, order.id), method: :delete %></p> -->
    <!-- </div>
  </div> -->
  <% end %>
</div>
<% end %>
</div>
</div>
<%= render 'shared/footer' %>
