<!-- <h1>Orders#new</h1>


<%= simple_form_for [@prescription, @order] do |f| %>

<p>Delivery address</p>
<%= f.input :street_name, input_html: { value: current_user.street_name } %>
<%= f.input :zip_code, input_html: { value: current_user.zip_code } %>
<%= f.input :city, input_html: { value: current_user.city } %>
<%= f.submit %>
<% end %>
 -->



<!-- *************************placing order one***************************** -->
 <div class="order-contaier">
  <div class="order-header">
    <div class="placeorder d-flex justify-content-start">
      <%= link_to welcome_path do%>
      <%= image_tag ("left-arrow.png"), class: "arrow-order" %>
      <%end%>
      <h2 class="text-header-order">Placing an order</h2>
    </div>
    <div class="order-steps">
      <%= image_tag ("1.png"), class: "steps-order" %>
    </div>
  </div>
  <div class="order-body">
    <div class="white-container">
      <p class="orderbody-text"> <%= current_user.email %></p>
      <div class="links-scan d-flex">
        <%= link_to welcome_path do%>
        <div class="rescan-div d-flex">
          <%= image_tag ("reload.png"), class: "rescan-photo" %>
          <p class="rescan">Rescan</p>
        </div>
        <%end%>
        <div class="add-div">
          <%= link_to welcome_path do%>
          <p class="text-scan">+ Add another product</p>
          <%end%>
        </div>
      </div>
      <div class="image-uploaded">
        <%= cl_image_tag @prescription.image, height: 180, width: 280, crop: :fill %>
      </div>
      <div class="saveforlater">
        <%= link_to welcome_path do%> <p class="savetext">Save in my prescriptions</p><%end%>
      </div>


      <div class="white-footer">
        <%= link_to order_placement_2_path do%>
        <%= image_tag ("right.png"), class: "next-order" %>
        <%end%>
      </div>
    </div>
  </div>
</div>
<!-- *************************first step end************************************ -->

