<div class="order-container">

  <!-- <i class="fas fa-circle circle-style"></i> -->
  <div class="order-header">

    <div class="text-show-order">
      <%= link_to prescription_orders_path do %>
      <i class="fas fa-chevron-left chevron-style"></i>
      <% end %>
      <h2 class="h2-style">Ma commande #<%= @order.id %></h2>

    </div>
  </div>
</div>

<div class="order">
<div class="show-prescription-name">Commande # <%= @order.id %></div>

<div class="show-prescription-date">Date de la commande : <%= @order.order_date %></div>

<div class="show-prescription-date">Status : <%= @order.order_status %></div>

<div class="show-prescription-date">Adresse de livraison : </div>
<div class="show-prescription-date"><%= @order.street_name %></div>
<div class="show-prescription-date"><%= @order.zip_code %> <%= @order.city %></div>
</div>
<%= render 'shared/footer' %>

