<%= image_tag ("circle.png"), class: "circle-top-left" %>
<%= image_tag ("petitcercle.png"), class: "circle-top-right" %>
<div class ="text-welcome-user">
  <% if user_signed_in? %>
  <h2 id="font-welcome-user" >Welcome to Cura</h2>
  <h2 id="name-user-welcome" > <%=current_user.first_name%>Marina</h2>
  <%else%>
  <h2 id="font-welcome-user" >Welcome to Cura</h2>
  <h2 id="name-user-welcome"><strong>Marina</strong></h2>
  <%end%>
</div>
<div class="welcome-container d-flex">
  <div class="scan d-flex">
    <a  class="button-welcome" ><%= image_tag ("scan.png"), class: "scan-photo" %></a>
    <p> <strong>Scan</strong> <br>your prescritpion</p>

  </div>
  <div class="schedule d-flex">
    <a class="button-welcome" ><%= image_tag ("calendar.png"), class: "schedule-photo" %></a>
    <p> <strong>Scan</strong> <br>your prescritpion</p>
  </div>
  <div class="search d-flex">
    <a class="button-welcome" ><%= image_tag ("search.png"), class: "search-photo" %></a>
      <p> <strong>Scan</strong> <br>your prescritpion</p>
  </div>
</div>
